* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00FF5B;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.container {
  max-width: 420px;
  background: #5Affff;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

h1 {
  color: Black;
  font-size: 35px;
  margin-bottom: 15px;
  font-family: cursive;
}

.subtitulo {
  font-size: 16px;
  color: orange;
  margin-bottom: 20px;
}

img {
  width: 90%;
  max-width: 350px;
  margin: 20px auto;
  border-radius: 10px;
}

.beneficios {
  text-align: left;
  margin: 20px 0;
}

.beneficios li {
  margin-bottom: 10px;
  font-size: 15px;
  color: orange;
}

.botao {
  display: block;
  background: #25d366;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  transition: background 0.3s;
}

.botao:hover {
  background: #1ebc57;
}

.rodape {
  margin-top: 20px;
  font-size: 13px;
  color: #555;
}