* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #005A00;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.container {
  max-width: 420px;
  background: #FFA500;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  margin-bottom: 10px;
  color: white;
  fonte-size:24px;
  margin-bottom:12px;
}

.subtitulo {
  margin-bottom: 15px;
  color: black;
  font-size: 22px;
}

img {
  width: 100%;
  max-width: 400px;
  margin: 15px 0;
}

ul {
  text-align: left;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 8px;
}

.botao {
  display: block;
  background: #25d366;
  color: white;
  padding: 12px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.rodape {
  margin-top: 15px;
  font-size: 14px;
  color: black;
}
